<connectionStrings configProtectionProvider="PilkarzykiAppKeysProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
    xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <KeyName>Rsa Key</KeyName>
        </KeyInfo>
        <CipherData>
          <CipherValue>ToZyg/nuraxErdJVIHSYXo+ynIrK3oar+oyMpPPuVGOFfvhUUYbrRtZr1uc5oCCj2XBQ0jiX5y8B/ge9EdFkGcd7QuCjlNeMGDWSNib4HFrppiQ5xfCAOE6Uvag0W4CmLdVlC0TONGj6QSeo7idbYCYRo+bVw6SILc7kQA3vTo4=</CipherValue>
        </CipherData>
      </EncryptedKey>
    </KeyInfo>
    <CipherData>
      <CipherValue>kGhyPkUk17tmSOhluDW3c6ubiriKntPhd53+zvAfi+H+J5xp9sa3APDYToxsCXMp5mMe8RkEAFd517Iekfaz9yqWDPSV2JxARx06m/Fmg25RQal2pigHap71ijmL08ZKPrEdSAFnjv6V8kt8FL8/UU6OJlwcFvPCVVBFaafH8UzvP1F682+PduNREEzhDHuuf+hsDu6Wthr9V4+FT6dX8WPHluSYBJR6VEQAGzvMg650SJpiaqbJYeChYAjSbsjcJtUcljgqK7vDgc9fSeri5VTt0EIeAgO5FG+ut5TNRiolcMm6oE6Ye9p0DIF4XJbIS3+bdKeFVrayh0yG/NsCCdbvhqA3nIcUBKOfjUjWswybZ7S6h4K1itPJF6m9RwCSC+qY5RroVzqNjVhGdaaRIGIIWno9A5Kw8zKmGEwhMFyZ26X0q+4s4A7FZ8MR3hMYjuG5DsHLS0L662l2OWB1DinMD+uRC70vOt0BUhy8jaqJc5vINkF5Fg9gGrMlOu5Cl8YKqu/OOajgHf1mogAnfWaD4wGyMCynv2Gw+xZ3YYEhSy2r06Q55iV8yaNbmynCJT51AjM94xy/GfXz8EkJHMSbbxmOa7pb0W1nsJZrMXFJbGHLsFxgj/amkzBGfvr2bGskiLIqYmW2Rh1TE23nRg==</CipherValue>
    </CipherData>
  </EncryptedData>
</connectionStrings>
