<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
    xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <KeyName>Rsa Key</KeyName>
        </KeyInfo>
        <CipherData>
          <CipherValue>QAUIxGEOkjpl5FC0JDpKawjfc7irhPk3znPslAqFpjLA+XiTUjJeF3EViy6QHRf3g4EXCuTg5K062iwPz5UlFr4IlepX6DPuMDFcrr/Yly6Lq6IFCrQXPcdwpN8karFgSVLaGQFu8RczwwkJBp68bE7hDsGWFzcaCMcmCl88r20=</CipherValue>
        </CipherData>
      </EncryptedKey>
    </KeyInfo>
    <CipherData>
      <CipherValue>X43uJG3V+lX4sOWrKY0ufVRCERgGbhcAeRj1VR+xykXCgxpzwcUobrkkFCoWiQbeyX7xGMQ8gcsW0pJOfTLtmgxO5fR3Piykwbank8Q6w7vJRd7j7FhsgdcWxY+FRgCKurjBnrWWo2xd/iaN++1sD5YQS827Ft+xWdUAlrXnG6+j0j0X0SGvxKMzydyavh/QH9sjKsUsqCzO041vjj/JUrmCz6U4plekWk7ZBg3Q27UGLFhoFf5Eqq/nw2dmc6mXyb3TyMf2WwrUkBMZoWQLt64Og9DTOjUzjb3dng0W+JUew59SY+GqZmaRhIXC7MZEu44ElKTFbp/wyHwLgXH7ovX/LrrJJM5govA2yFVSwYWxMoK3Y+bn4ck/adRa71/JbmVLD1V5nSZdxUiDC03nwjrfi296cqIbN+n5+AQq1LS3txFlu6pGdadRfKc+7Sfjo8UzbSBGz9kwuCg65VxROVM3WdmKOzvBOjhgqhl9sDflggIDPReyv5XhQ11LpdhITj2IXnbEhp+jmnDzjDbvRK/XiLftDXVO6TgS1zDsDzmKIST3sO1WC4m24DaAf48e1ZIIGCa+JJY5xHeCXs8ZoLI0mMDP+Y9VHGWGh7cElUPisj3OqOlK/QIY5ZZOdPbFDiT+Df8rx7ZQp9WbZwBYMw==</CipherValue>
    </CipherData>
  </EncryptedData>
</connectionStrings>