<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
    xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <KeyName>Rsa Key</KeyName>
        </KeyInfo>
        <CipherData>
          <CipherValue>nxgajSeZnntCPSe/KCfUW8ko9lR4+fj3pAc+fpu8uA8s167tcGMEC+8PNfXMRKT5gkY5825ikmCF54ylgDwqDvKcjMlbJnXi/JVthvgrcFrrrvu3qtJZEXayzi31/toxuHl0UhvQtAEeUbfXoDuhltcV1a5Q23wdlp3d5OpV03Q=</CipherValue>
        </CipherData>
      </EncryptedKey>
    </KeyInfo>
    <CipherData>
      <CipherValue>BiWA55BcrjVs/GvSTmQSE8lRmJvvV3CvF8bBP8MS1ZtLsxfFgW71pXP/94V3HL29ywpK0UR7+sy+DGHUTArJCQ6NCjJgAOUaVPSzj8mBxatDgi6IQKEvTaqEmkvwLezPQi3tb2YHae8gQ0F76yK4L4ToBdxc304aOYfn2vW5fS8bzMeG+3/yd7JIKYbyyQbKEkP5dFR3hnX/ZE/MNZBytjRfU9kqnAABY2vjEDbUSA83EEV83FUU95bDfyJ4F8Eg7k9BLpJEDMfAfi9hY3JkmKl/JwetMsgASa0giY3kZRFTtptjuNWBPxOy1qK1LK/ZuF1VzVST9DkMK+VusacLFLWGTAMEas2reynM7sTEl9mkA3bT+Hbdl/fSY2cgwRWH77dsXvqoQb7TgdNlIIvrGOnXqfglZUZxhF0mZe6VCbSXMh/EO/X9eg==</CipherValue>
    </CipherData>
  </EncryptedData>
</connectionStrings>

