@{
    ViewBag.Title = "StartPage";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CssSection
{
    <link href="~/Content/CSS/home.css" rel="stylesheet" />
}

<div class="menu-square">
    <div class="menu-option-text">Create new profile</div>
</div>
<div class="menu-square grayed"></div>
<div class="menu-square clear grayed"></div>
<div class="menu-square grayed"></div>

@*<div style="background: yellow">
    @Html.ActionLink("Create User", "../Profile/Create")
</div>*@
