<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("CssSection", false)
</head>
<body>
    <div id="main">
        @RenderBody()
    </div>
</body>
</html>
