<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("Css Section", false)
</head>
<body>
    <div>
        @RenderSection("Master Section",true)
        @RenderBody()
    </div>
</body>
</html>
