@model DataAccess.Models.LoginModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>LogIn</h2>
<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.TextBoxFor(model => model.UserName)
        </div>
        <div>
            @Html.PasswordFor(model => model.Password)
        </div>
        <div>
            @Html.CheckBoxFor(model => model.RememberMe)
        </div>
        <div>
            <button type="submit" id="btnLogin">Login</button>
        </div>
    }
</div>